<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Major University Rowing Competitions</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<ion-list>
  <button ion-item (click)="itemTapped()">Peterborough Head of the Nene</button>
  <button ion-item (click)="itemTapped()">Dyrham Small Boats Head</button>
  <button ion-item (click)="itemTapped()">Wycliffe Big Head</button>
  <button ion-item (click)="itemTapped()">Thames Valley Trial Head</button>
  <button ion-item (click)="itemTapped()">South Yorkshire Head</button>
  <button ion-item (click)="itemTapped()">GB Rowing Snr/u23 Trials</button>
  <button ion-item (click)="itemTapped()">GB Rowing Snr/U23 Trials</button>
  <button ion-item (click)="itemTapped()">Hampton Head (Juniors/Schools)</button>
  <button ion-item (click)="itemTapped()">South Yorkshire Head</button>
  <button ion-item (click)="itemTapped()">Warrington Head of the Mersey</button>
</ion-list>
</ion-content>


