<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Cambridge College teams</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<ion-list>
  <button ion-item="" (click)="itemTapped()">Christ's College</button>
  <button ion-item="" (click)="itemTapped()">Churchill College</button>
  <button ion-item="" (click)="itemTapped()">Clare College</button>
  <button ion-item="" (click)="itemTapped()">Clare Hall</button>
  <button ion-item="" (click)="itemTapped()">Corpus Christi College</button>
  <button ion-item="" (click)="itemTapped()">Darwin College</button>
  <button ion-item="" (click)="itemTapped()">Downing College</button>
  <button ion-item="" (click)="itemTapped()">Emmanuel College</button>
  <button ion-item="" (click)="itemTapped()">Fitwilliam College</button>
  <button ion-item="" (click)="itemTapped()">Girton College</button>
  <button ion-item="" (click)="itemTapped()">Gonville &amp; Caius College</button>
  <button ion-item="" (click)="itemTapped()">Homerton College</button>
  <button ion-item="" (click)="itemTapped()">Hughes College</button>
  <button ion-item="" (click)="itemTapped()">Jesus College</button>
  <button ion-item="" (click)="itemTapped()">King's College</button>
  <button ion-item="" (click)="itemTapped()">Lucy Cavendish College</button>
  <button ion-item="" (click)="itemTapped()">Magdalene College</button>
  <button ion-item="" (click)="itemTapped()">Murray Edwards College</button>
  <button ion-item="" (click)="itemTapped()">Newnham College</button>
  <button ion-item="" (click)="itemTapped()">Pembroke College</button>
  <button ion-item="" (click)="itemTapped()">Peterhouse College</button>
  <button ion-item="" (click)="itemTapped()">Queens College</button>
  <button ion-item="" (click)="itemTapped()">Robinsons College</button>
  <button ion-item="" (click)="itemTapped()">Selwyn College</button>
  <button ion-item="" (click)="itemTapped()">Sidney College</button>
  <button ion-item="" (click)="itemTapped()">St Catharine's College</button>
  <button ion-item="" (click)="itemTapped()">St Edmund's College</button>
  <button ion-item="" (click)="itemTapped()">St John's College</button>
  <button ion-item="" (click)="itemTapped()">Trinity College</button>
  <button ion-item="" (click)="itemTapped()">Trinity Hall</button>
  <button ion-item="" (click)="itemTapped()">Wolfson College</button>
</ion-list>    
</ion-content>