<!--
Emmet 1 liner, just for fun, and practice.

(ion-header>ion-navbar>button[ion-button][menuToggle]>ion-icon[name=menu]^ion-title{ApName}^ion-toolbar[color=secondary]>ion-title{PgName})+ion-content[padding]{Hello my teams}

pausing at : https://app.pluralsight.com/player?course=ionic2-angular2-typescript-mobile-apps&author=steve-michelotti&name=ionic2-angular2-typescript-mobile-apps-m3&clip=5&mode=live

Navigation > Side Menu navigation 

-->

<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon></button>
    <ion-title >ApName</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>PgName</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    Hello my-teams
     <button ion-button color="primary" menuToggle>Toggle Menu</button>
</ion-content>

