<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon></button>
    <ion-title >University Rowing Crews</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>My crews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>You are not currently following any University crews.</p>
    <p>First select a rowing competition, then you can follow a crews from the competition page.</p>
     <button ion-button color="primary" (click)="findATournament()">Find a competition.</button>
</ion-content>

